@-webkit-keyframes blink {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	50% {
		text-shadow: 0 0 30px rgba(255, 234, 133, 1);
	}
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
}
@-webkit-keyframes blink-box {
	0% {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	50% {
		box-shadow: 0 0 30px rgba(255, 234, 133, 1);
	}
	0% {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
}